---
name: Test CI

on:
  pull_request:
    paths: [.github/workflows/test_ci.yaml, action.yml]

jobs:
  ci:
    runs-on: ubuntu-24.04

    permissions:
      contents: read # Required to checkout repository.

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Changed diff-tree
        id: changed
        uses: ./
